<body>
    <div class="barreNavig">H a i k y u u ! !</div>
    <div class="contenu">
        <div class="bonus">
            Appuie sur l'image de ton équipe favorite pour marquer des points et faire gagner l'équipe Karasuno !
        </div>
        <div class="imageScore">
            <div onclick="scoreUp()"><%= image_tag "karasuno.jpg", width: 400 %>
            </div>
            <div class="pop">Score:
                <div>
                    <span id="points">0</span> -
                    <span id="pointsEnnemi">0</span>
                </div>
            </div>
            <div><%= image_tag "aoba.jpg", width: 400%></div>

        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info boutonPrincipal" data-toggle="modal"
            data-target="#exampleModalCenter">
            Connaître son CPM
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">CPM (Clics Par Minute):</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="item">
                            Temps restant: <span id="compteARebours">10</span>
                        </div>
                        <button type="button" onclick="clicParMinute()" id="compteurClic" class="btn btn-info">Clique
                            ici</button>
                        <div class="item">
                            Points: <span id="affichageCPM">0</span>
                        </div>
                    </div>
                    <div class="modal-footer"> CPM: <span id="resultatCPM">0</span>
                        <button type="button" onclick="recommencer()"
                            class="btn btn-outline-warning">Recommencer</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
    <form action="/users" method="post">
        <input type="text" name="title" />
        <input type="submit" value="Entrez votre pseudo" />
    </form>
</div> -->
</body>