<div>
    <h1>CLICKEEEEEEEEEEEEEER</h1>
    <p>Appuies sur l'image pour marquer des points et faire gagner l'équipe Karasuno !</p>
    <p>Score: <%= @score %> </p>
    <%= image_tag "haikyuu.png", width: 400 %>
</div>
<!-- <div>
    <form action="/books" method="post">
        <input type="text" name="title" />
        <input type="submit" value="Entrez votre pseudo" />
    </form>
</div> -->